<div class="container">
	<h1>My Friends</h1>
	<div class="row">
		<div class="col-md-12" >
			<ul>
				<li class="people-list" ng-repeat="data in people">
					<a class="person" href="#/friend_view/{{data.id}}"> <img src="{{data.avatar_file}}"> <span class="name">{{data.name}}</span> <span class="email">{{data.email}}</span> <span class="job-title">{{data.job_title}}</span> </a>
					<a class="delete" ng-click="deletePerson(data.id)"  href=""></a>
				</li>
			</ul>

		</div>
	</div>
</div>