<div class="container">
	<h1>Create New Friend</h1>
	<div id="create-new" class="col-md-12">
		<div class= "form-group">
			<label class= "col-md-2"> Name </label>
			<div class="col-md-5">
				<input name="name" ng-model="person.name" type= "text" class= "form-control" placeholder="First and Last Name" />
			</div>
		</div>
		<div class= "form-group">
			<label class= "col-md-2"> Job Title </label>
			<div class="col-md-5">
				<input name="" value="" ng-model="person.job_title" type= "text" class= "form-control" placeholder="eg. Developer or Designer" />
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Email address </label>
			<div class="col-md-5">
				<input name="email" value="" ng-model="person.email" type= "email" class= "form-control" placeholder="Email Address" />
			</div>
		</div>
		<div class= "form-group">
			<label class= "col-md-2"> Mobile </label>
			<div class="col-md-5">
				<input type="number" value="" ng-model="person.mobile" class= "form-control" placeholder="Mobile Number" />
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Telephone </label>
			<div class="col-md-5">
				<input type="number" value="" ng-model="person.telephone" class= "form-control" placeholder="Telephone Number"  />
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Description </label>
			<div class="col-md-5">
				<textarea value="" ng-model="person.description" class= "form-control" ></textarea>
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Skills </label>
			<div class="col-md-5">
				<tags-input ng-model="person.skills"></tags-input>
			</div>
		</div>

		<button ng-click="savePerson(person);" class="btn btn-success">
			Add Friend
		</button>
	</div>
</div>